Cython
imageio
jupyterlab
matplotlib
numpy
opencv-python
pandas
Pillow
scikit_learn
scipy
tqdm
hydra-core==1.0.0
munkres==1.1.2
pycocotools==2.0.2
pytorch_lightning==0.8.4
torch==1.6.0
torchvision==0.7.0
